._headerlogo{
    margin-left:6rem;
    margin-top:1rem;
    width:50%;
}
.width{
    width:400px;
    margin-top:2rem;
    margin-left:6rem;
}
li.active a:before,
a:hover:before{
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform:scaleX(1);
}
a.active{
    text-decoration: green;
    height:20px;
}
