.home-image1{
  float:right;
  margin-top:3.5rem;
  width:90%;
  height:85%;
}
.text-heading{
margin-top:8rem;
margin-left:10rem;
color:#062C51;
font-style: poppins;
}
.heading-size{
  font-size:50px;
}
.p-text{
  font-size:15px;
}
.down-arrow{
position:relative;
top:-0.5rem;
 color:#062C51;
}
.top-box{
  margin-top: 4rem; 
  margin-left: 12.5rem;
   margin-right: 12rem; 
}
.card-box{
  padding:20px;
  border-radius: 8px;
  height:200px;
}
.card-box:hover{
  background-image:linear-gradient(to top right, rgb(2, 2, 36),#1C7DE0);
  color:white;
}
.card_image{
  width:40px;
  margin-bottom:0.5rem;
}
.card_image:hover{
 filter:invert(0) sepia(3);
}
.box1{
  padding:20px;
  border-radius: 8px;
  height:250px;
}
.box1:hover{
  background-image:linear-gradient(to top right, rgb(2, 2, 36),#1C7DE0);
  color:white;
}
.work-together-image{
  margin-top:4rem;
  margin-left:12rem;
  margin-right:10rem;
 }
.work{
  height:100%;
  width:100%;
  margin-top:-1.5rem;
  margin-left:-3rem;
}
.work-together{
  margin-left:-2rem;
  margin-top:3rem;
}
.how-it-works{
  text-align:center;
  position:absolute;
  margin-top:-11rem;
  margin-left: 22rem;
}
.text-how{
  margin-top:2rem;
  font-size:25px;
}
.engage{
  margin-top:4rem;
  margin-left:12rem;
  margin-right:10rem;
}
.engage-image{
  margin-top:0.5rem;
  width:110%;
  height:130%;
  margin-left:0.2rem;
}
.card_icon{
  margin-top:-0.5rem;
  padding:0.5rem;
  width:80px;
  height:80px;
}
.card_icon:hover{
 fill:white;
}
.engage-top{
  margin-top:3rem;
}
.four-boxes{
  margin-left:12.5rem;
  margin-right:12rem;
}
.platform{
  margin-top:14rem;
}
.contact-image{
  width:100%;
  margin-top:5rem;
}
.contact1{
  position:absolute;
  margin-top:-8rem;
  margin-left: 25rem;
}
.contact_btn{
  position:absolute;
  margin-top:-2.2rem;
  margin-left: 30rem;
}
.basic-card{
  margin-top:4rem;
  margin-left:12.5rem;
  margin-right:12rem;
}
.common-questions{
  margin-top:4rem;
  margin-left:12rem;
  margin-right:10rem;
}
.home-image{
    float:right;
    margin-right:4rem;
    margin-top:1rem;
    width:50%;
    height:50%;
}
.margin_left{
    margin-top:4.8rem;
    margin-left:12.5rem;
}
.mainheading{
color:#062C51;
font-size:50px;
font-style: poppins;
}
.text-color{
    font-size:14.5px;
}
.text-color:hover{
    color:white;
}
.text-colors{
  font-size:14.5px;
}
.text-colors:hover{
  color:white;
}
.box{
    padding:20px;
    border-radius: 8px;
}
.box:hover{
    background-image:linear-gradient(to top right, rgb(2, 2, 36),#1C7DE0);
    color:white;
}
 ._card{
    padding:20px;
    border-radius: 8px;
}
._card:hover{
  transform:scale(1.1);
}
.btn.btn-default{
  background:linear-gradient(to right, rgb(2, 2, 36),#1C7DE0);
  border-color: #062C51;
  border-radius: 40px;
  text-align: center;
  margin:auto;
  color:white;
  padding-top: 2px;
  padding-bottom: 5px;
}
.btn.btn-default:hover{
  background-color: #062C51;
  border-color: #062C51;
  color:white;
}
.text-on-image{
  text-align:center;
  position:absolute;
  margin-top:-13rem;
  margin-left: 28rem;
}
.contact{
  position:absolute;
  margin-top:-4.5rem;
  margin-left: 28rem;
}
.button_contact{
  border-radius: 40px;
  border-color: blue;
  color: blue;
  background-color: transparent;
  padding-bottom:3px;
  padding-top:1px;
}
.contact-btn{
  position:absolute;
  margin-top:-2.2rem;
  margin-left: 30rem;
}
.btn.btn-default1{
  background-color: #d0d5d8;
  border-color: #d0d5d8;
  border-radius: 40px;
  text-align: center;
  float:right;
  margin:auto;
  color:red;
  padding-top: 3px;
  padding-bottom: 3px;
}
.btn.btn-default1:hover{
  background-color: #d0d5d8;
  border-color: #d0d5d8;
  color:red;
}
.form-control{
  border-radius: 40px;
  border-color:darkblue;
  color:darkblue;
}
:-ms-input-placeholder {
  color:darkblue;
}
@media screen and (max-width:960px){
  .home-image{
    margin-top:1rem;
    width:100%;
    height:100%;
}
.text-heading{
  margin-top:2rem;
  margin-left:2rem;
  color:#062C51;
  font-style: poppins;
  }
  .heading-size{
    font-size:35px;
  }
  .top-box{
    margin-top: 4rem; 
    margin-left: 3rem;
    margin-right: 1rem; 
  }
  .box1{
    padding:20px;
    border-radius: 8px;
  }
  .work-together-image{
   margin-top:2rem;
   margin-left:3rem;
   margin-right:1rem;
  }
  .work{
    height:100%;
    width:100%;
    margin-left:1rem;
  }
  .work-together{
    margin-left:0.5rem;
    margin-top:1rem;
    margin-right:1rem;
  }
  .how-it-works{
    text-align:center;
    position:absolute;
    margin-top:-6rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .text-how{
    margin-top:0rem;
    font-size:17px;
  }
  .engage{
    margin-top:2rem;
    margin-left:2rem;
    margin-right:1rem;
  }
  .engage-image{
    width:90%;
    height:90%;
    margin-left:2rem;
    margin-top:1rem;
  }
  .engage-top{
    margin-top:2rem;
    margin-left:1.5rem;
    margin-right:1rem;
  }
  .four-boxes{
    margin-left:2rem;
    margin-right:2rem;
  }
  .platform{
    background-color:#dff6fc;
    margin-top:1rem;
    margin-left:1rem;
  }
  .contact-image{
    width:100%;
    margin-top:2rem;
  }
  .contact1{
    position:absolute;
    margin-top:-2rem;
    margin-left: 2rem;
  }
  .contact_btn{
    position:absolute;
    margin-top:-2.2rem;
    margin-left: 5rem;
  }
  .basic-card{
    margin-top:3rem;
    margin-left:2rem;
    margin-right:2rem;
  }
  .common-questions{
    margin-top:1rem;
    margin-left:4rem;
    margin-right:2rem;
  }
}