.form-text{
    position:absolute;
    left:11rem;
    top:10rem;
    color:white;
  }
  .input{
    width:280px;
    margin-bottom: 20px;
    border-color:1px solid grey;

  }
  .text-area{
    width:300px;
    margin-bottom: 40px;
    border-color:darkblue ;
    overflow-y: scroll;
    height: 90px;
    background-size: cover;
    resize:none; 
    z-index: 1;
   }
   .contact-button{
    background-color: #4FD84F; 
    width: 7.5rem;
    height:34px;
    border-color: #4FD84F;
    border-radius: 30px;
    text-align: center;
    margin:auto;
    color:white;
    padding-top:1px;
  }
.contact-button:hover{
    background-color: #4FD84F; 
    border-color: #4FD84F;
    color:white;
  }
  .contactus-top{
    margin-left:10rem;
    margin-top:5rem;
  }
  .row-top{
  margin-top:7rem;
  width:100%;
  }
 @media screen and (max-width: 960px) {
       .contactus-top{
        margin-left:2rem;
        margin-top:2rem;
      } 
      .form-text{
        position:absolute;
        left:3rem;
        top:5rem;
        color:white;
      } 
      .image{
        margin-top:17rem;
      }
 }