.login{
    margin-top: 6rem;
}
.btn.btn-info{
    background-color: #2DC8A8;
    color: white;
    border-color: #2DC8A8;
    width:15rem;
    }
.btn.btn-info:hover{
    background-color: #2DC8A8;
    color: white;
    border-color: #2DC8A8;
    }
.logo{
        position:absolute;
        background:transparent;
        top:2rem;
        left:4rem;
        z-index:1;
    }
.heading{
        position:absolute;
        background:transparent;
        top: 12rem;
        left:5rem;
        z-index:1;
    }
.form{
    background-color:#EEF4FE !important;
    border-color:#EEF4FE !important;
}