.background-blue{
    background-color: #dff6fc;
}
.background-white{
    background-color: white;  
}
.form{
    background-color: #EEF4FE !important;
    border-color:#EEF4FE !important;
    border-radius:1px !important;
}